/.project
/.pydevproject
/src/*.pyc
/data/np
/data/senna
/data/tfidf
/data/TopicS
/data/*.txt

/src/log.txt
/doc/08072014-Summarization.pptx
/doc/*.pptx
/doc/*.xlsx
/doc/*.pptx
/doc/*.pptx
/doc/proposal_NSF IUSE 10072014 v2.docx
/doc/Summary for the instructor of CS2610 - Lecture 5.docx
/doc/Summary for the instructor of CS2610 - Lecture 6.docx
/doc/Summary for the instructor of CS2610 - Lecture 7.docx
/doc/Summary for the instructor of CS2610 - Lecture 8.docx
/doc/Summary for instructors CS2001.docx
/doc/Summary for the instructor of CS2610 - Lecture 4.docx
/doc/*.pdf
/doc/Zhang, Li - 2009 - Automatic text summarization based on sentences clustering and extraction-annotated.pdf
